#strength {
  background: url('/assets/img/perks.png') no-repeat -75px -96px;
  width: 129px;
  height: 144px;
}

#perception {
  background: url('/assets/img/perks.png') no-repeat -242px -76px;
  width: 211px;
  height: 165px;
}

#endurance {
  background: url('/assets/img/perks.png') no-repeat -485px -94px;
  width: 154px;
  height: 144px;
}

#charisma {
  background: url('/assets/img/perks.png') no-repeat -712px -102px;
  width: 114px;
  height: 140px;
}

#intelligence {
  background: url('/assets/img/perks.png') no-repeat -932px -84px;
  width: 198px;
  height: 169px;
}

#agility {
  background: url('/assets/img/perks.png') no-repeat -1144px -104px;
  width: 163px;
  height: 134px;
}

#luck {
  background: url('/assets/img/perks.png') no-repeat -1385px -92px;
  width: 177px;
  height: 156px;
}

.perk {
  position: relative;
  height: 200px;
}

.perk div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.title {
  text-align: center;
}

.rank_1:after {
  content: "\22C6";
}
.rank_2:after {
  content: "\22C6\22C6";
}
.rank_3:after {
  content: "\22C6\22C6\22C6";
}
.rank_4:after {
  content: "\22C6\22C6\22C6\22C6";
}
.rank_5:after {
  content: "\22C6\22C6\22C6\22C6\22C6";
}

.not_eligible {
  color: red;
}

li.perk {
  height: 0;
  visibility: hidden;
}

li.perk.eligible {
  height: inherit;
  visibility: visible;
}

